nav(class='navbar navbar-inverse' role='navigation')
	div(class='container')
		div(class='navbar-header')
			button(type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navbar-collapse')
				span(class='sr-only') Toggle navigation
				span(class='icon-bar')
				span(class='icon-bar')
				span(class='icon-bar')
			a(class='navbar-brand' href='#') Blogger
		div(class='collapse navbar-collapse' id='navbar-collapse')
			ul(class='nav navbar-nav')
				if(session.is_login)
					for item in config.loginnavs
						li 
							a(href='#{item.href}') #{item.text}
				else
					for item in config.navs
						li
							a(href='#{item.href}') #{item.text}
			ul(class='nav navbar-nav navbar-right')
				if(session.is_login)
					for item in config.loginfunc
						li
							a(href='#{item.href}') #{item.text}
				else
					for item in config.func
						li
							a(href='#{item.href}') #{item.text}